<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Find real-time weather around the world in the most simple, minimalistic way possible.</p>
        <img class="portrait" src="/img/weather-stack.jpg">
    </div>
    {{>footer}}

</body>
</html>