<!DOCTYPE html>

<html>
<head>
    <Title>Weather</Title>
    <link rel="icon" href="/img/weather.png">
    <link rel = "stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>Search for Global Weather Conditions</p>

        <form>
            <input placeholder="Any Location">
            <button>Search</button>
        </form>
        <p id="message-one"></p>
        <p id="message-two"></p>
        <p id="message-three"></p>
        <p id="message-four"></p>
        <p id="message-five"></p>
    </div>
     {{>footer}}
     <script src = "js/app.js"></script>
</body>
</html>